* {
  margin: 0;
  padding: 0;
}
.img-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-name h2 {
  font-family: Fira Code;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*Used to justify the grid container*/
  justify-items: center;
  gap: 20px;
  padding: 1.25rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 18px 0px rgba(0, 0, 0, 0.75);
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  font-family: Poppins;
  gap: 10px;
}
.card p {
  font-size: 1rem;
}
img {
  height: 150px;
}
.price-rating-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.card button {
  width: 40%;
  padding: 10px;
  font-family: Poppins;
  border-radius: 10px;
  border: none;
  background-color: rgb(37, 162, 37);
  color: white;
  font-family: MonoLisa;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #734af6;
  font-family: Poppins;
  padding: 1rem;
  color: white;
  font-family: MonoLisa;
}
.links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}
.links li {
  list-style-type: none;
  padding: 0.8rem;
  font-size: 0.9rem;
}
.links li:hover {
  background-color: black;
  cursor: pointer;
  border-radius: 15px;
}
.search-tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-tab button {
  background-color: black;
  color: white;
  padding: calc(1rem - 3px);
  font-size: calc(1rem - 3px);
  width: 5rem;
  border-radius: 10px;
  border: none;
  font-family: Jetbrains Mono;
}
.search-tab input {
  padding: calc(1rem - 10px);
  border-radius: 10px;
  width: 8rem;
  border: none;
  outline: none;
}
.brand {
  display: flex;
  align-items: center;
}
.brand img {
  height: auto;
  max-width: 100%;
}

/*
* Media queries and rulesets
*/

/*Phones*/
@media only screen and (min-width: 320px) and (max-width: 680px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .card p {
    line-height: 30px;
    font-size: 13px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    gap: 0.89rem;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.89rem;
    max-width: 100%;
  }
  .links li {
    max-width: 100%;
    text-align: center;
    font-size: 0.7rem;
  }
  .search-tab button {
    padding: 8px;
    font-size: 10px;
    width: calc(5rem - 1rem);
  }
  .search-tab input {
    width: 10rem;
  }
  .card button {
    font-size: 10px;
  }
  .card {
    width: 60%;
  }
}
/*Tablets*/
@media only screen and (min-width: 680px) and (max-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .card p {
    font-size: (1rem + 10px);
  }
  li {
    text-align: center;
    font-size: 0.78rem;
  }
  .search-tab input {
    width: calc(100% - 10%);
  }
  .search-tab button {
    width: calc(100% - 50%);
  }
  .card button {
    font-size: 12px;
  }
  .card {
    width: 80%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  li {
    text-align: center;
  }
}
